[package]
name = "types"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3.26"
quic-rpc = { path = "../../..", features = ["macros"] }
serde = { version = "1", features = ["derive"] }
